@charset "utf-8";
/* Hoja de estilos para interiores */

h1.titulo {
    padding: 10px 0 20px;
	margin-top: -30px;
    background: transparent url("../images/separator-header-section.png") no-repeat center 66px;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h4 {
	margin: 30px 0 20px;
}

p {
	margin-bottom: 25px;
}

.calendario {
	position: relative;
	margin-top: 30px;
	margin-bottom: 60px;
	min-width:991px;
}

.calendario .titulo-ligas {
	display: block;
	margin-bottom: 12px;
}

.calendario .indicador {
    position: absolute;
    top: 34px;
    left: 20px;
	transition: top 0.5s;
}

.calendario ul {
	padding-left: 30px;
	list-style: none;
	font-size: 18px;
	font-weight: 600;
}

.calendario ul li {
	margin-bottom: 10px;
}

.calendario ul li a, .calendario ul li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.calendario ul li.active:before {
    position: absolute;
	margin-left: -26px;
	content: url(../images/arrow-leagues-icon.png);
}

.calendario .fechas-calendario {
	position: relative;
	padding: 0;
	width: 630px;
	height: 522px;
	background-color: #0F132E;
}

.calendario .fechas-calendario img.fondo {
	position: absolute;
	width: 100%;
	z-index: 1;
}

.calendario .fechas-calendario .header {
	position: relative;
	font-size: 11px;
	z-index: 20;
}

.calendario .fechas-calendario .header img {
	width: 125px;
	margin: 10px 0 0 10px;
}

.calendario .fechas-calendario .header p {
	margin: 0;
}

.calendario .fechas-calendario .header div:last-of-type {
	width: 48%;
	padding-top: 10px;
	text-align: right;
}

.calendario .fechas-calendario .tabla {
	position: relative;
	margin-top: 10px;
	font-size: 9px;
	z-index: 20;
}

.calendario .fechas-calendario .tabla table {
	width: 90%;
	margin: auto;
	font-weight: lighter;
}

.calendario .fechas-calendario .tabla table th {
	color: #C89E57;
	font-size: 8px;
	border-bottom: 1px solid #FFFFFF;
	text-transform: uppercase;
	text-align: center;
}

.calendario .fechas-calendario .tabla table td {
	padding-bottom: 4px;
	border-right: 1px solid #FFFFFF;
	text-align: center;
}

.calendario .fechas-calendario .tabla table tr:first-of-type th {
	padding-bottom: 6px;
}

.calendario .fechas-calendario .tabla table tr:nth-of-type(2) td {
	padding-top: 4px;
}

.calendario .fechas-calendario .tabla table tr:last-of-type td {
	padding-bottom: 0;
}

.calendario .fechas-calendario .tabla table td:first-of-type {
	width: 70px;
}

.calendario .fechas-calendario .tabla table td:last-of-type {
	border-right: none;
}

.calendario .fechas-calendario .footer {
	position: relative;
	width: 98%;
	margin: 30px auto 0;
	font-size: 9px;
	z-index: 20;
}

.calendario .fechas-calendario .footer .dorado {
	margin-bottom: 7px;
	font-size: 8px;
}

.calendario .fechas-calendario .footer div {
	text-align: center;
}

.calendario .fechas-calendario .footer div:first-of-type {
	text-align: left;
}

.calendario .fechas-calendario .footer div:last-of-type {
	text-align: right;
}

.dorado {
	color: #C89E57;
}

.firma {
	font-size: 15px;
    font-weight: 600;
}

.noticia-fecha {
	margin-bottom: 20px;
	font-size: 12px;
}

.noticia-resumen {
	margin-top: 40px;
}

.noticia-resumen:first-of-type {
	margin-top: 60px;
}

.noticia-resumen .dorado {
	margin-top: 0;
}

.noticia-img-grande {
	margin-bottom: 20px;
}

.requisitos {
	margin-bottom: 20px;
	font-size: 12px;
}

.requisitos ul {
    margin: 0;
    padding: 0;
	list-style: none;
}

.requisitos ul li {
    margin-bottom: 12px;
}

.requisitos ul li:before {
    content: '- ';
}